$color-primary-light: #795ec899;
$color-primary-dark:#5b469699;
$color-primary-light-2: #fa0a7299;
$color-primary-dark-2:#98064599;

$shade-primary-light:#eae3fe;
$shade-primary-medium:#e0d6fe;
$shade-primary-dark:#795ec8;
$color-light-grey:#f7f7f7;
// $shade-primary-dark:#866ad7;
// $color-secondary-light:#fdf2e999;
$color-secondary-light:#ebb3a399;
$color-secondary-dark:#e67e2299;

$color-tertiary-light:#fad01399;
$color-tertiary-dark:#f7b70899;
$color-tertiary-light-2:#fad013;
$color-tertiary-dark-2:#f7b708;

$shade-tertiary-light-btn:#f8ebbe;
$shade-tertiary-light-text:#fdf8e9;
$shade-tertiary-dark-btn:#e9bc25;

$shade-secondary-light-btn:#f6ded7;
$shade-secondary-light-text:#fcf4f2;
$shade-secondary-dark-btn:#e2927b;

$shade-primary-light-btn:#feb6d5;
$shade-primary-dark-btn:#c8085b;

$color-white:#ffffff;